<html>
    <head>
        <title>ORGANIZAÇÃO</title>
    </head>

    <body>
        <h1>Cadastrar Atlética</h1>
        <div>
            {% if msg %}
            {{msg}}
            {% endif %}
        </div>
        <form = '' method="POST">
            <h2>Nome da atletica</h2>
            <input type="text" name="nomeatletica">
            <br>
            <h2>Curso</h2>
            <input type="text" name="curso">
            <br>
            <h2>Email</h2>
            <input type="email" name="email">
            <br>
            <h2>Facebook</h2>
            <input type="text" name="facebook">
            <br>
            <h2>Instagram</h2>
            <input type="text" name="instagram">
            <br>
            <h2>Twitter</h2>
            <input type="text" name="twitter">
            <br>
            <input type="submit" name="submit" value="Cadastrar">
        </form>
    </body>
</html>